#exercises-container {
  width: 1380px;
  margin: 0 auto;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  #exercises-container {
    width: 150%;
    max-width: 600px; /* Adjust the max-width to your liking */
    margin: 0 auto;
  }
}

/* Media query for screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  #exercises-container {
    width: 150%;
    max-width: 800px; /* Adjust the max-width to your liking */
    margin: 0 auto;
  }
}

/* Media query for screens larger than 1024px */
@media (min-width: 1024px) {
  #exercises-container {
    width: 150%;
    max-width: 1200px; /* Adjust the max-width to your liking */
    margin: 0 auto;
  }
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #3be13b;
  color: #3be13b;
  cursor: pointer;
  text-decoration: none;
}

.paginationActive a {
  background-color: #3be13b;
  color: white;
}

.paginationBttns:hover a:hover {
  background-color: #3be13b;
  color: white;
}

.paginationBttns2 {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.paginationBttns2 a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #3be13b;
  color: #3be13b;
  cursor: pointer;
  text-decoration: none;
}

.paginationActive2 a {
  background-color: #3be13b;
  color: white;
}

.paginationBttns2:hover a:hover {
  background-color: #3be13b;
  color: white;
}


