@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  background-color: #fdfff5;
} */

.dark .MuiTextField-root {
  border: solid green 1px;
}

.dark .MuiOutlinedInput-input {
  color: white;
}

.dark .MuiFormLabel-root {
  color: white;
}
