@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  color: black;
}

.dark .nav-link {
  color: white;
}

.dark .MuiTextField-root {
  border: solid green 1px;
}

.dark .MuiOutlinedInput-input {
  color: white;
}

.dark .MuiFormLabel-root {
  color: white;
}

