@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background-image: url(../images/line-up.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: end;
}

.links::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: #3be13b;
  display: block;
  transition: 0.5s ease-in-out;
}

.links:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #3be13b;
  display: block;
}
